rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthorized() {
      return request.auth != null && request.auth.token.email in [
        'chc71173@gmail.com',
        'tinaisherenow@gmail.com'
      ];
    }
    match /{document=**} {
      allow read, write: if isAuthorized();
    }
  }
}
